<div class="container" ng-controller="MainController as main">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-4">
        <h3>Exercise 1</h3>
        <table class="table table-hover">
          <tr ng-repeat="currency in currencies" exchange="currency"></tr>
        </table>
      </div>
      <div class="col-md-4">
        <h3>Exercise 2</h3>
        <form>
          <div class="form-group">
            <label for="currencyFrom">From: </label>
            <select class="form-control" id="currencyFrom" ng-model="selectedCurrencyFrom" ng-options="currency as currency.name for currency in currencies" ng-init="selectedCurrencyFrom = check(selected,currencies)" ng-change="setCurrencyFrom(selectedCurrencyFrom)">
              <option value="">Select a currency</option>
            </select>
          </div>
          <div class="form-group">
            <label for="currencyTo">To: </label>
            <select class="form-control" id="currencyTo" ng-model="selectedCurrencyTo" ng-options="currency as currency.name for currency in currencies" ng-init="selectedCurrencyTo = check(selected,currencies)" ng-change="setCurrencyTo(selectedCurrencyTo)">
              <option value="">Select a currency</option>
            </select>
          </div>
          <div class="form-group" >
            <label for="currencyValue">Value: </label>
            <div class="input-group">
              <input type="text" class="form-control" id="currencyValue" placeholder="Type a value"  ng-model="currencyValue" ng-keyup="calculateCurrency($event, currencyValue)">
              <div class="input-group-addon">{{tagFrom}}</div>
            </div>
          </div>
          <div class="alert alert-info" role="alert"><strong>Result: </strong><span>{{result}} {{tagTo}}</span></div>
        </form>

      </div>
      <div class="col-md-4">
        <h3>Exercise 3</h3>
        <form>
          <div class="form-group">
            <select class="form-control" id="currencyChart" ng-model="selectedCurrency" ng-options="currency as currency.name for currency in currencies" ng-init="selectedCurrency = check(selected,currencies)" ng-change="setCurrencyChart(selectedCurrency)">
              <option value="">Select a currency</option>
            </select>
          </div>
        </form>
        <nvd3 options='options' data='data' config="{ visible: !(data==false) }"></nvd3>
      </div>
    </div>
  </div>
</div>
